.lakes-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .lake img {
    width: 100%;
    height: auto;
  }
  
  .lake p {
    text-align: center;
  }
  