.trips-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.trip-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ddd; /* Adding a border to each trip card */
  margin: 20px 0; /* Add space between trips */
}

.trip-image-section {
  flex: 1;
}

.trip-image {
  max-width: 300px;  
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.trip-details-section {
  flex: 2;
  padding-left: 20px;
}

.trip-details {
  font-size: 14px;
  color: #777;
}

.trip-info {
  padding: 20px;
}

.booking-section {
  text-align: right;
}

.book-now {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.book-now:hover {
  background-color: darkgreen;
}
